<div class="row">
	<div class="alert alert-info"><i class="fa fa-info-circle"></i> Create groups one by one</div>
</div>
<div class="row">
	<div class="col-md-6">
		<input type="text" class="form-control has-success col-md-offset-6" ng-model="home.usersearch2" placeholder="Search">
		</br>
		</div>
	</div>
</div>
<div class="row">
	<div class="well col-md-3" style="height: 400px;">
		<ul style="padding: 0px;">
			<li class="sidebar-items" ng-repeat="user in home.usersForGroup | filter: home.usersearch2">
				<a href="" ng-click="home.add(user)" style="line-height: 1em;">
					{{user.username}}
					<i class="pull-right fa fa-chevron-right"></i>
				</a>
			</li>
		</ul>
	</div>
	<div class="col-md-3 col-md-offset-1 text-center" style="height: 400px;">
		<div class="alert alert-success">
			<i class="fa fa-info-circle"></i>
			Users Left: {{home.usersForGroup.length}}
		</div>
		<br/>
		<input type="text" class="form-control" ng-model="home.newGroup.groupname" placeholder="Group Name">
		<br/>
		<input type="password" class="form-control" ng-model="home.newGroup.password" placeholder="Password">
		<br/>
		<button class="btn btn-primary" ng-click="home.createGroup()">Create</button>
	</div>
	<div class="well col-md-3 col-md-offset-1" style="height: 400px;">
		<ul style="padding: 0px;">
			<li class="sidebar-items" ng-repeat="member in home.members">
				<a href="" ng-click="home.remove(member)" style="line-height: 1em;">
					<i class="pull-left fa fa-chevron-left"></i>
					{{member.username}}
				</a>
			</li>
		</ul>
	</div>
</div>